/* ------------ Content ------------ */
.blog-container {
  .main-column {
    .blog-content {
      .article-status {
        top: -20px;
      }
      .google-ad {
        margin-bottom: 1.5rem;
      }
      .word-counts {
        margin-bottom: 3em;
        padding: 1em;

        ul, ol {
          margin: 10px 0 10px 30px;

          li {
            list-style-type: disc;
          }
        }
        h2 {
          font-size: 34px;
          border-bottom: 1px solid $emphasis-color;
        }
        h3 {
          font-size: 26px;
          margin-top: 20px;
          margin-bottom: 6px;
          border-bottom: 1px solid $emphasis-color;
        }
        h4 {
          font-size: 22px;
          margin: 24px 0 4px;
        }
      }
      .time-min {
        text-transform: uppercase;
        text-align: right;

        .words {
          color: $emphasis-color;
        }
      }
      .post-status {
        display: flex;
        align-items: center;

        .author {
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
      .post-title {
        margin: 0;
        padding: 0;
        clear: both;

        h2 {
          font-size: 28px;
          font-weight: bold;
          line-height: 1.4;
          margin: .3rem 0;

          a {
            color: $font-color;
            text-decoration: none;

            &:hover {
              color: $emphasis-color;
            }
          }
        }
      }
      .simple-image-posts {
        display: flex;

        .simple-image-post {
    			@extend .card-dark, .mt-raised;
          width: 33%;
          padding: .3em .1em;
    		  min-height: 6em;

          a {
            font-size: 1.1em;

            .rank {
              position: absolute;
              width: 100%;
              padding-bottom: .2em;
              background-color: $mt-theme-color;
              z-index: 1;
            }
            .trim {
              img {
                height: 14em;
              }
            }
            .title {
              position: absolute;
              width: 100%;
              bottom: 0;
              background-color: rgba(0, 0, 0, .7);
              font-size: 1.1em;
            }
          }
        }
      }  // .simple-image-posts
      .comment {
        @extend .card, .card-dark, .mt-raised;
        width: 100% !important;
        padding: 20px;
        margin-bottom: 0;
      }
      blockquote:not([class]) {
        background: rgba(0, 0, 0, 0) url('../images/quote-left.png') no-repeat scroll left top;
        border: 0 none;
        margin: 25px 0;
        padding: 20px 50px;
        position: relative;
        text-align: center;

        &::after {
          background: rgba(0, 0, 0, 0) url('../images/quote-right.png') no-repeat scroll right bottom;
          bottom: 0;
          content: '';
          display: block;
          height: 44px;
          position: absolute;
          right: 0;
          width: 60px;
        }
        p {
          border-bottom: 1px solid;
          display: inline;
          margin: 0;
          padding-bottom: 2px;
          font-size: 22px;
          line-height: 36px;
          font-weight: 100;
        }
      }
      @media only screen and (max-width: 919px) {
        background: $background-color;
        border-radius: 10px; /* CSS3草案 */
        -webkit-border-radius: 10px; /* Safari,Google Chrome用 */
        -moz-border-radius: 10px; /* Firefox用 */

        .simple-image-posts {
          .simple-image-post {
            width: 50%;
          }
        }
        .post-title h2 {
          font-size: 25px;
        }
      }
      @media only screen and (max-width: 767px) {
        .word-counts {
          h1, h2 {
            padding-top: 20px;
            margin-top: -20px;

            &:not(:first-child) {
              margin-top: 0;
            }
          }
          h3 {
            padding-top: 10px;
            margin-top: -10px;

            &:not(:first-child) {
              margin-top: 0;
            }
          }
        }
      }
      @media only screen and (max-width: 640px) {
        .google-ad {
          margin-bottom: 30px;
        }
        .word-counts {
          h2 {
            padding-top: .3rem;
            background-color: antiquewhite;
            font-size: 1.6rem;
          }
          h3 {
            font-size: 1.4rem;
          }
          h4 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1rem;
          }
        }
        .simple-image-posts {
          .simple-image-post {
            width: 100%;

            a {
              font-size: 1.4em;

              .rank {
                padding: .5em 0;
              }
              .trim {
                height: 16em;

                img {
                  height: 100%;
                }
              }
              .title {
                font-size: 1.2em;
              }
            }
          }
        }  // .simple-image-posts
      }  // @media only screen and (max-width: 640px)
    }  // .blog-content
  }  // .main-column
  .side-column {
		font-size: .9em;

    .simple-image-post {
			@extend .card-dark, .mt-raised;
		  min-height: 6em;
			margin-bottom: 1.2em;

  		&:last-child {
  			margin-bottom: 0;
  		}
		  a {
		    font-size: 1.4em;
		    display: flex;
		    align-items: center;

				&:hover {
			    background-color: $mt-theme-color-brighter-1;
				}
		    .rank {
		      width: 10%;
					padding: .3em;
		    }
		    .trim {
		      width: 45%;
		      height: 7em;

					img {
            position: absolute;
					}
		    }
		    .title {
		      line-height: 1.4;
		      width: 45%;
		    }
		  }
			@media only screen and (max-width: 919px) {
				a {
					flex-flow: column;

					.rank {
						width: 100%;
					}
					.trim {
						width: inherit;
						height: 12em;

            img {
              height: 100%;
            }
					}
					.title {
						width: 100%;
						position: absolute;
						bottom: 0;
						background-color: rgba(0, 0, 0, .5);
					}
				}
			}
			@media only screen and (max-width: 640px) {
				a {
					.trim {
						height: 16em;
						position: relative;
					}
				}
			}
		}
    .outline {
      .navbar {
        ul {
          font-size: 18px;

          li {
            line-height: inherit;
          }
        }
      }
    }
  }
}
