/* ------------ Module ------------ */

img.youtube:hover {
  cursor: pointer;
}

p.year_month {
  text-align: right;
  padding: 25px 0 15px;
  margin-right: 15px;
  border-bottom: none;
  text-transform: uppercase;
  font-size: 13px;
}

.mt-tags {
  display: flex;
  flex-wrap: wrap;

  .mt-tag {
    font-size: .8em;
    display: flex;
    margin: 0 .4em .3em 0;
    height: 1.5em;
    line-height: 1.4em;
    border: 1px solid teal;
    border-radius: 3px;
    background-color: white;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
    .mt-tag-name {
      margin: 0 .4em;
      color: black;
    }
    .mt-tag-count {
      font-weight: bold;
      padding: 0 .3em;
      margin-left: auto;
      color: white;
      background-color: teal;
    }
  }
}

.card-dark {
  color: white;
  background-color: $mt-theme-color;

  &.card-header {
    margin: 0 .5em .5em;
    padding: 1em;
    border: none;
  }
  .card-header {
    padding: .5em;
    text-align: center;
    border-bottom: 1px dashed darkcyan;

    .card-title {
      font-weight: bold;
    }
  }
  .card-content {
    padding: .5em;
  }
  .card-action {
    text-align: right;
    padding: 8px;
    border-top: 1px dashed darkcyan;
  }
}

.card-prev-next {
  &.row {
    margin: inherit;
    margin-bottom: 1em;
  }
  .prev, .next {
    padding: 1px;
    margin: 5px 0;
    color: white;

    &:hover {
      p {
        color: $emphasis-color;
      }
    }
    h6 {
      color: inherit;
      margin-top: 0;
      border-bottom: 1px dotted darkcyan;
    }
    p {
      font-size: 1.2rem;
      font-weight: bold;
      margin: 0;
    }
  }
  .next {
    h6, p {
      text-align: right;
    }
  }
}

/* Overline From Center */
.overlay-effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $emphasis-color;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before, &:focus:before, &:active:before {
    left: 0;
    right: 0;
  }
}

.jssocials-shares {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;

  .jssocials-share {
    display: block;

    &:first-child {
      margin-left: .3em;
    }
    &:last-child {
      margin-right: .3em;
    }
  }
}

.outline {
  max-height: 240px;
  overflow-y: scroll;

  .navbar {
    height: inherit;
    margin: -5px 0 -5px;
    padding: 5px 0;

    ul {
      font-size: 12px;

      li {
        line-height: 16px;

        a {
          width: 98%;
          padding: 2px;
          color: black;
          text-decoration: none;
          display: block;
        }

        &.active > a {
          margin-left: -3px;
          color: $emphasis-color;
          font-weight: bold;
          border-left: 3px solid $emphasis-color;
        }
      }
    }
  }
}

.simple-image-posts {
  flex-wrap: wrap;

  .simple-image-post {
    display: flex;

    &:hover {
      a {
        color: $emphasis-color;

	      .trim img {
	        opacity: .8;
					transform: scale(1.1);
	      }
				.title > span {
					@extend .overlay-effect;
          max-width: 100%;
					word-wrap: break-word;
				}
      }
    }
    a {
      width: 100%;
      position: relative;
      color: white;
      font-weight: bold;
      transition: all .2s linear;

      .rank {
        text-align: center;
      }
      .trim {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
          max-width: inherit;
          transition: all .2s linear;
          height: 100%;
        }
      }
      .title {
        word-wrap: break-word;
        padding: .5em;
      }
    }
  }
}

.scroll-chaser {
  .side-column & {
    //width: 100% !important;
    padding-top: 4px;
    margin-top: -10px;
  }
}


@media only screen and (max-width: 919px) {
  .year_month {
    text-align: left;
    margin-left: 25px;
    margin-right: 0;
  }

  .social-links li {
    margin: 0 2px;
  }

  blockquote:not([class]) p {
    font-size: 17px;
    line-height: 26px;
  }

  #share {
    margin: 20px 0 0 25px;

    .jssocials-share {
      float: left;
      display: block;
      clear: none;
      margin: 0 3px;
    }
  }
}


@media only screen and (max-width: 767px) {
  p.year_month {
    text-align: left;
    margin-left: 25px;
    margin-right: 0;
  }

  .social-links li {
    margin: 0 2px;
  }

  blockquote:not([class]) p {
    font-size: 17px;
    line-height: 26px;
  }
}

/* Overline From Center */
.overlay-effect {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $emphasis-color;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before, &:focus:before, &:active:before {
    left: 0;
    right: 0;
  }
}
